.game-box{
    position: fixed; /* Ensures it stays fixed to the screen */
    top: 0; /* Aligns the box to the top of the screen */
    left: 0; /* Aligns the box to the left of the screen */
    width: 100%; /* 100% of the viewport width */
    height: 100vh; /* 100% of the viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.game h1{
    font-size: 2.5em;
}
.points span{
    font-weight: bold;
}
.tip span{
    color: yellow;
}
.wordContainer{
    margin: 1.5em;
    padding: 1.5em;
    border: 20px solid yellow;
    display: flex;
}
.letter, .blankSquare{
    font-size: 70px;
    line-height: 1.5;
    border: 3px solid black;
    height: 100px;
    width: 100px;
    text-transform: uppercase;
    background-color: white;
    font-weight: black;
    color: black;
}

.letterContainer{
    margin-bottom: 1.2em;
}

.letterContainer form{
    display: flex;
    align-items: center;
    justify-content: center;
}

.letterContainer input{
    height: 50px;
    width: 50px;
    font-size: 2em;
    text-align: center;
    margin-right: 1em;
}