.edit_post{
    text-align: center;
}

.edit_post h2{
    font-size: 2.2em;
}

.edit_post img{
    max-width: 500px;
    border-radius: 20%;
}

.edit_post p{
    color: #aaa;
    margin-bottom: 2.2em;
}